<div class="container">

  <div class="jumbotron hero-spacer">
    <h1>Welcome to Bidstr!</h1>
    <p>Want to place bids on random items?</p>
    <p><%= link_to "Join now!", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-lg-12">
       <h3>Latest Features</h3>
    </div>
  </div><!-- /.row -->
  
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>This would be a great spot to feature some brand new products!</p>
          <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>This would be a great spot to feature some brand new products!</p>
          <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>This would be a great spot to feature some brand new products!</p>
          <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>This would be a great spot to feature some brand new products!</p>
          <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
        </div>
      </div>
    </div>


  </div><!-- /.row -->
  
  <hr>
  
</div><!-- /.container -->