<div id="auction_form" class="big-button">
  <% if user_signed_in? %>
  	<% if @item.auction.nil? %>
      <%= render 'start_auction' %>
    <% else %>
      <%= link_to "See Auction", auction_path(@item.auction) %>
    <% end %>
    <% if @item.sold? %>
      <p>Price: <%= @item.sold_price %></p>
    <% end %>
  <% end %>  
</div>