<div class="row">
	<div class="col-lg-4 text-center">
		<h1>Items</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 hero-feature">
	  <ul class="list-group">
	    <%= render @items %>
    </ul>
	</div>
</div>

<p><%= link_to 'New Item', new_item_path, class: "btn btn-primary" %></p>