<div class="container item-profile">
  <div class="row">
    <div class="col-md-2">
      <img src="http://placehold.it/200x200" alt="" class="img-responsive">
    </div>
    <div class="col-md-2">
      <h3 class="inline" style="margin-top: 5px;"><%= @item.name %></h3>
      <hr>
      <p>Reserved Price: <%= @item.reserved_price %></p>
      <p>Sold: <%= @item.sold ? "yes" : "no" %></p>
      <% if user_signed_in? %>
        <% if current_user.auctioneer? %>
          <%= render "auction_form" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>