@import "bootstrap";

body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  background-image: url('mochaGrunge.png');
}
.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.inline {
  display: inline;
}

.inline-block{
  display: inline-block;
}

.item-profile{
  margin-top: 20px;
}

.item-card{
  height: 350px;
  padding: 20px;
  background-color: #c0c0c0;
}

.bid-card {
  background-color: #c0c0c0;
  height: 200px;
}

.auction {
  margin-bottom: 20px;
}